<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lateralpraxis.lpdnd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCreateDemand"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHomeScreen"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCreateDelivery"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityClose"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityChangePassword"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLanding"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityComplaintFeedback"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCustomerSignUp"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatabaseManager"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDemandViewDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMessageViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDemandViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryViewDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPayment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPaymentView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPaymentDetails"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewImage"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityStockReturn"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityStockReturnViewDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityStockReturnViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCashDeposit"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityComplaintFeedbackViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityComplaintFeedbackViewDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityProductMaster"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityVehicleMaster"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCustomerMaster"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRateMaster"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryPaymentViewDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryPaymentViewSummary"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryPayment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPaymentOnly"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRORoutesView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRORouteAllocation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMasters"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAdminHomeScreen"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCashDepositView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCashDepositDelete"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeleteDeliveryList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeleteDeliveryView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeletePaymentList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeletePaymentView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDemandReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllocationReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDeliveryReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAdjustmentReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityConversionReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCashCollectReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityInventoryReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCustDelVsRecReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityVehDelVsRecReport"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityOutstanding"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".primaryreceipt.ActivityListPrimaryReceipt"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".primaryreceipt.ActivityAddPrimaryReceipt"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockconversion.ActivityCreateStockConversion"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockconversion.ActivityListStockConversion"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockconversion.ActivityStockConversionDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OutletPayment.ActivityListPayments"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OutletPayment.ActivityCreatePayments"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpenseBooking.ActivityListBooking"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpenseBooking.ActivityAddExpense"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>